<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBytfA9QV54Sf8ywCLjjgMkZ_p_wiqPszQ</string>
	<key>GCM_SENDER_ID</key>
	<string>216012171367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.fcm.fcmflutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fcmflutter-aabbd</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutter-aabbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216012171367:ios:874c001b028eb5f6e2ccc2</string>
</dict>
</plist>